@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(_common.scss);
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Variable.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.address-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
}
.avatar {
  .ant-upload {
    width: 500px !important;
    height: 500px !important;
  }
  .ant-upload-list-item {
    width: 500px !important;
    height: 500px !important;
  }
}

.detailUser{
  .ant-modal-content {
    background-color: #f5f5f5 ;
  }
  .ant-modal-header{
    background-color: #f5f5f5 ;
  }
}
.border-t{
  border-top: solid gray 1px;
}

.login-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #333;
}
.login-button {
  background-color: #9b59b6;
  color: #fff;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #8e44ad;
  color: white;
}